html{
  font-size: 62.5%;
  box-sizing: border-box;
}

*,*::after,*::before{
  box-sizing: inherit;
}

img{
  display: block;
  max-width: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
}

a{text-decoration: none;}

[class$="__contenedor"], .contenedor{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .header__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.header__titulo{
  font-size: 3rem;
  margin-top: 5rem;
  font-family: 'PT Serif', serif;
}

@media (min-width: 768px) {
  .header__titulo{
    font-size: 4rem;
  }
}

.header__contenido-titulo{
  font-size: 1.8rem;
  text-transform: uppercase;
}

.header__contenido-texto{
  font-size: 1.3rem;
}

@media (min-width: 768px) {
  .header__contenido-texto{
    font-size: 1.6rem;
    max-width: 45rem;
  }
}

/* Photos */
.photos{
  margin-top: 4rem;
}

.photos__grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .photos__grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

.photo__imagen{
  display: flex;
  margin: 0 2rem;
}

.photo__nombre{
  font-size: 1.4rem;
  font-weight: bold;
  margin: .5rem 0 0 2.5rem;
}

@media (min-width: 768px) {
  .photo__nombre{
    font-size: 1.8rem;
  }
}

.photo__ocupation{
  font-size: 1.2rem;
  writing-mode: vertical-rl;
  margin: 0;
  text-transform: uppercase;
  font-family: 'PT Serif', serif;
}

@media (min-width: 768px) {
  .photo__ocupation{
    font-size: 1.4rem;
  }
}

.mt-3{
  margin-top: 3rem;
}

@media (min-width: 768px) {
  #mt-6{
    margin-top: 8rem;
  }
}

@media (min-width: 992px) {
  #mt-6{
    margin-top: 13rem;
  }
}

/* Footer */
.footer{
  margin-top: 5rem;
  background-color: #F1F1F1;
  padding: 3rem;
}

.footer__nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer__link{
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #000;
}

.footer__link:hover{
  text-decoration: underline;
}

.footer__copyright, 
.footer__hechoby{
  font-size: 1.6rem;
  text-align: center;
}

.footer__copyright{
  margin-top: 3rem;
}